<!DOCTYPE html>
<html class="main-html">
  <head>
    <title>Dogstagram</title>
    <%= csrf_meta_tags %>
    <link <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type='text/javascript'>
      window.CLOUDINARY_OPTIONS = {
        cloud_name: '<%=ENV['CLOUD_NAME']%>',
        upload_preset: '<%=ENV['UPLOAD_PRESET']%>'
      }
    </script>
    <link rel="icon" href="http://res.cloudinary.com/roscoe/image/upload/c_scale,w_150/v1500572600/logo_bxburg.jpg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
